/* change file name style.css into login.css */
/* General Page Style */
body {
    margin: 0;
    padding: 0;
    background: linear-gradient(to right, #6a11cb, #2575fc);
    font-family: Arial, sans-serif;
}

/* Center Box */
.container {
    width: 350px;
    background: #fff;
    padding: 30px;
    margin: 100px auto;
    border-radius: 12px;
    box-shadow: 0 0 20px rgba(0,0,0,0.2);
}

/* Page Heading */
.container h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}

/* Text Inputs */
input {
    width: 100%;
    padding: 12px;
    margin: 10px 0;
    border: 1px solid #bbb;
    border-radius: 5px;
    font-size: 15px;
}

/* Buttons */
button {
    width: 100%;
    padding: 12px;
    background: #6a11cb;
    border: none;
    border-radius: 5px;
    color: #fff;
    font-size: 17px;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    background: #2575fc;
}

/* Bottom Link */
.link {
    text-align: center;
    margin-top: 15px;
}

.link a {
    text-decoration: none;
    color: #2575fc;
    font-weight: bold;
}
